h1,
h2 {
  margin: 25px 0 15px 0;
  font-size: 26px;
}

#listeTaches,
#formulaire,
#connexion, 
#inscription,
#profil{
  margin: auto;
  max-width: 85%;
}

.list-group-item,
.form-select,
#inputDate {
  cursor: pointer;
}
